
# Created by https://www.gitignore.io/api/jekyll

### Jekyll ###
_site/
.sass-cache/
.jekyll-metadata

# End of https://www.gitignore.io/api/jekyll

## Custom Additions
**/*.pdf
**/*.log
**/*.patch
src/pip-delete-this-directory.txt
src/ninja2/**
